{% extends 'base.html.twig' %}

{% block title %}Reporting réponses{% endblock %}

{% block body %}
    <h1>Réponses ayant plus de 10 votes</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Réponse</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date de création</th>
            <th scope="col">Nombre de votes</th>
        </tr>
        </thead>
        <tbody>
            {% for reponse in reponses %}
                <tr>
                    <td>{{ reponse.contenu }}</td>
                    <td>{{ reponse.user.nom }}</td>
                    <td>{{ reponse.dateCreation|date('d.m.Y') }}</td>
                    <td>{{ reponse.voters|length }} votes</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}