<h1>Bonjour {{ name }} !</h1>

<p>Nous sommes content de vous annoncer qu'une nouvelle réponse vient d'etre posté sous votre question <strong>"{{ question }}"</strong>.</p>

<a href="{{ url }}">Cliquez ici pour voir la réponse</a>

<p>A bientot !</p>